<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="app.component.css">
    <header>Game of thrones
      <img src="imagenes/R.jpeg" alt="">
    </header>
</head>
<body>
  <div class="historia">
    <h1>Historia</h1>
    <p>Es una serie basada en los libros de canciones de hielo y fuego de JR Martin.</p>
    <p>Cuenta la historia de como diferentes reyes intentan conseguir el trono de los 7 reinos despues de la muerte del rey Robert Baratteon.</p>
  </div>

  <div class="cuerpo">
    <h1>Motivos por la que te gusta</h1>
    <p>Por los giros de historia que tiene</p>
    <p>Por el gran desarrollo de Personajes</p>
    <p>Por la gran cantidad de personajes que tiene</p>
    <h1>Personajes</h1>
    <li>
      <ul>Eddart Stark</ul>
      <ul>Tyrion Lanister</ul>
      <ul>Robert Baratteon</ul>
      <ul>Daeneris Targeryan</ul>
      <ul>Entre otros</ul>
      <ul></ul>
    </li>
  </div>

    <div class="similares">
      <h1>Otras peliculas o series similares</h1>
      <article class="house">
        <h2>House of the dragon</h2>
        <p>Es a su vez una precuela de la serie</p>
      </article>
    </div>
</body>
</html>
