<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="app.component.css">
    <header>Game of thrones
      <img src="imagenes/R.jpeg" alt="">
    </header>
</head>
<body>
  <div>
    <h1>Historia</h1>
    <p>Es una serie basada en los libros de canciones de hielo y fuego de JR Martin.</p>
    <p>Cuenta la historia de como diferentes reyes intentan conseguir el trono de los 7 reinos despues de la muerte del rey Robert Baratteon.</p>
  </div>
</body>
</html>
